ArchivesiOS/EditorWeb/editor.html linguist-generated=true -whitespace
ArchivesiOS/Legal/* linguist-generated=true -whitespace
ArchivesSyncHelper/Acknowledgements.txt linguist-generated=true -whitespace
